.container {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 2px solid black;

    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
}

.grid {
    box-sizing: border-box;
    border: 1px solid black;
}

button {
    display: flex;
    padding: 10px 20px;
    margin: 50px auto;
    border-radius: 10px;
    font-size: 24px;
    background-color: green;
    color: white;
}